.title {
  color: #6d8284;
  font-size: 44px;
  margin-bottom: 16px;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  font-size: 16px;
  margin-bottom: 4px;
}
body {
  font-family: monospace;
  text-align: center;
}
.footer {
  width: 100%;
  height: 30px;
  margin-top: 532px;
  text-align: center;
}
